.offers-list{
    max-width: 1200px;
}
.offers-list__button{
    width: 200px;
    margin: 15px 0;
}
.offers-list__no-offers{
    margin:  100px 0px;
    text-align: center;
    font-size: 30px;
}
.offers-list-loading{
    object-fit: contain;
}