.offer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.offer-form__background{
    width: 100vw;
    min-height: 800px;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    

}

.offer-form__form{
    z-index: 1;
    position: fixed;

    max-width: 500px;
    padding: 1rem;
    height: 800px;
    display: flex;
    flex-direction: column;
    background: #fff;
}