.filter-dropdown{
    width: 218px;
}
.filter-dropdown__header{
    border-radius: 8px;
    height: 39px;
    font-size: 22px;
}
.filter-dropdown__header-title{
    height: 39px;

    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.filter-dropdown__header-title-text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    color: #585B67;
}
.filter-dropdown__header-title-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    height: 39px;
    width: 39px;
    background-color: #ffffff;
    color: #585B67;
    border: none;
}
.filter-dropdown__header-title-btn--rotate{
    transform: rotate(180deg);
}
.filter-dropdown__arrow{
    height: 18px;
    transform: rotate(90deg)
}

.filter-dropdown__list{
    display: block;
    position: absolute;
    width: 218px;
    list-style: none;
    background: #2E365C;
    color: #ffffff;
    border-radius: 0px 6px 6px 6px;
    z-index: 2;
}
.filter-dropdown__list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    font-size: 22px;
    text-align: center;
    height: 62px;
    color: #82859a;
    background-color: #2E365C;
    box-shadow: inset 0px 2px 4px rgba(20, 16, 67, 0.25);
    cursor: pointer;
}

.filter-dropdown__arrow > path{
    stroke: #585B67
}

.hide-element{
    display: none;
}