.done{
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-items: center;
}
.done--hide{
    display: none
}
.done-content{
    display: inline-block;
}
.done-animation{
    min-width: 40px;
    min-height: 40px;
}
.done-icon--visible{
    opacity: 1;
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn; 
    animation-duration: 3s;   
    -webkit-animation-duration: 3s;
    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     
    visibility: visible !important; 
}
.done-text{
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #53C5CC;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;       
    }
    30% {
        opacity: 1; 
    }

    100% {
        opacity: 1; 
    }       
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0.0;       
    }
    30% {
        opacity: 1; 
    }

    100% {
        opacity: 1; 
    }      
}