.offer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
}

.offer-form__background{
    width: 100vw;
    min-height: 800px;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.offer-form__form{
    z-index: 1;
    position: absolute;

    max-width: 500px;
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
}

.form{
    display:flex;
    flex-direction: column;
    margin-top: 15px;
}
.form-title{
    font-family: 'Bree Serif', serif;
    font-size: 44px;
    margin-bottom: 15px;
}
.form-label{
    margin: 10px 0;
}
.form-input{
    height: 25px;
    border: 1px solid #2E365C;
    border-radius: 8px;
    padding: 3px;
    width: 300px;
}
.form-button{
    width: 150px;
    margin: 15px 0;
}
.form-description{
    border: 1px solid #2E365C;
    border-radius: 8px;
    width: 300px;
}