.dropdown-currency__list{
    display: block;
    height: 200px;
    overflow-y: scroll;
    z-index: 0;
}
.currency-list-btn{
    width: 105px;
    font-size: 24px
}
.hide-element{
    display: none
}
.currency-input{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;
}
.currency-input::placeholder{
    color: #FFFFFF;
}