.drop-zone{
    border: 5px solid #2E365C;
    border-radius: 8px;
    width:  300px;
    height: 200px;
    text-align: center;
    display: inline-block;
    position: relative;
}
.box__input{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}