.profile{
    display: block;
    width: 100%;
    margin: 15px auto;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
}
.profile-title{
    font-family: 'Bree Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    margin: 15px;
}
.profile__form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    min-height: 437px;
    max-height: 482px
}
.profile__section{
    margin-bottom: 65px;
}
.profile__section:last-child{
    margin-bottom: 20px;
}
.profile__form-label{
    margin: 10px 0;
}
.profile__info-text{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #D6D7DD;
}
.profile__edit-btn{
    margin-top: 30px;
    padding-top: 7px;
    height: 44px;
    width: 146px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.profile__edit-btn-link{
    color: #ffffff;
    text-decoration: none;
    /* width: 146px;
    height: 44px; */
}
.profile__form-input{
    height: 25px;
    border: 1px solid #2E365C;
    border-radius: 8px;
    width: 300px;
}
.profile__form-button{
    width: 150px;
    margin-top: 20px;
}
.profile-logout{
    height: 33px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile-logout-icon{
    margin-right: 11px;
}

@media (min-width: 1000px){
    .profile{
        width: 940px;
    }
}